{% extends "pages/base.html" %}
{% block title %} home {% endblock%}
{% block content %}
<br>
<div>
    <center>
        <h1 class = "page-header" style="font-size:60px">
            SISLITE APPLICATION
        </h1>
    </center>
</div>
<div>
        
    <center>
        <div class="bs-sliderbar">
            <ul class="nav flex-cloumn">
                <a href="/login"><button><h2 class = "page-header" style = "font-size:30px">ĐĂNG NHẬP</h2></button></a>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <a href="/register"><button><span class = "page-header" style = "font-size:40px">ĐĂNG KÍ</span></button></a>
            </ul>
        
    </center>
        </div>
    <br>
</div>
{% endblock %}}
