{% extends "pages/base.html" %}
{% block title %} student {% endblock%}
{% block content %}
#chinh sua trong nay nhu file html
<center>
    <h1> Chuong trinh cua hoc sinh</h1>

    <a href="/score/{{score.id}}"><button><span class = "page-header" style = "font-size:30px">Xem diem</span></button></a>
    <br>
    <a href="/class/{{score.id}}"><button><span class = "page-header" style = "font-size:30px">Xem Danh Sach Lop Sinh vien</span></button></a>
    <br>
     <a href="/"><button><span class = "page-header" style = "font-size:30px">Tro lai trang chu</span></button></a>

</center>


{% endblock %}}