{% extends "pages/base.html" %}
{% block title %} student {% endblock%}
{% block content %}
<center>
    <h1> CHƯƠNG TRÌNH DÀNH CHO GIẢNG VIÊN</h1>

</center>
   <center>
        <a href="/viewinf/{{teacher.idCls}}"><button><span class = "page-header" style = "font-size:30px">Xem thông tin cá nhân</span></button></a>
    </br></br> </br>
    <a href="/searchst/{{teacher.id}}"><button><span class = "page-header" style = "font-size:30px">Tìm kiếm sinh viên theo tên </span></button></a>
        </br> </br>
    <br><a href="/update/{{teacher.idCls}}/{{teacher.id}}"><button><span class = "page-header" style = "font-size:30px">Sửa điểm cả lớp</span></button></a>
    <br> </br> </br>
    <a href="/viewclasst/{{teacher.id}}"><button><span class = "page-header" style = "font-size:30px">Xem Danh sách Lớp </span></button></a>
    <br> </br> </br>
    <a href="/"><button><span class = "page-header" style = "font-size:30px">Quay lại tang chủ</span></button></a>
        </br> </br>
   </center>

{% endblock %}}